Domácí úkol č. 8 - adopce zvířat

In [131]:
import pandas

In [132]:
adopce_zvirat = pandas.read_csv('adopce-zvirat.csv', sep=';')
adopce_zvirat

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
0,7,Šváb syčivý,Madagascar giant cockroach,Bezobratlí,1000,1
1,8,Pakobylka okřídlená,Pink-winged stick insect,Bezobratlí,1000,1
2,16,Tayra,Tayra,Savci,5000,1
3,35,Kajmanka supí,Alligator snapping turtle,Plazi,2000,1
4,37,Želva žlutočelá,Indochinese box turtle,Plazi,1000,1
...,...,...,...,...,...,...
508,1417,Rosnice šalamounská,,Obojživelníci,1000,1
509,1418,Létavka obecná,,Obojživelníci,1000,1
510,1419,Bažant paví,,Ptáci,1000,1
511,1420,Sojkovec rezavouchý,,Ptáci,1000,1
512,1421,Kachnice kaštanová,,Ptáci,1000,1

In [141]:
# print(adopce_zvirat.shape) # počet řádků i sloupců
print(f"Počet řádků je {adopce_zvirat.shape[0]}.")
print(f"Počet sloupců je {adopce_zvirat.shape[1]}.")

Počet řádků je 513.
Počet sloupců je 6.

In [142]:
adopce_zvirat.columns

Index(['id', 'nazev_cz', 'nazev_en', 'trida_cz', 'cena', 'k_prohlidce'], dtype='object')

In [143]:
# adopce_zvirat.iloc[34] # postykne všechny informaco o zvířeti na indexu 34
print(adopce_zvirat['nazev_cz'].iloc[34])
print(adopce_zvirat['nazev_en'].iloc[34])

Ibis bílý
White ibis

Bonus

In [147]:
# adopce_zvirat[['nazev_cz', 'nazev_en', 'cena']].sort_values('cena', ascending=False).iloc[0:10]
# adopce_zvirat[['nazev_cz', 'nazev_en', 'cena']].sort_values('cena', ascending=False).head(6)
nejvyssi_cena = adopce_zvirat['cena'].max()
# nejvyssi_cena
nejdrazsi_zvire = adopce_zvirat[adopce_zvirat['cena'] == nejvyssi_cena]
nejdrazsi_zvire[['nazev_cz', 'nazev_en']]

                                      nazev_cz                nazev_en
113                            Tygr ussurijský          Siberian tiger
114                            Tygr sumaterský          Sumatran tiger
128                               Slon indický          Asian elephant
129                          Hroch obojživelný            Hippopotamus
135  Žirafa severní núbijská (= Rothschildova)  Rothschild's giraffe
272                              Tygr malajský           Malayan tiger

In [144]:
adopce_zvirat['nazev_cz'].sort_values(ascending=False).iloc[0]
# adopce_zvirat['nazev_cz'].sort_values(ascending=True).iloc[-1]

'Žluva hajní'

In [145]:
adopce_zvirat['nazev_en'].sort_values(ascending=False).iloc[0]
# adopce_zvirat['nazev_en'].sort_values(ascending=True).iloc[-1]

'Yellow-necked francolin'

Můj vlastní bonus - vypsání všech obojživelníků

In [146]:
obojzivelnici = adopce_zvirat[adopce_zvirat['trida_cz'] == 'Obojživelníci']
obojzivelnici[['nazev_cz', 'nazev_en']]

                 nazev_cz                   nazev_en
390   Ropucha jihoafrická                 Karoo toad
439  Rákosnička ulugurská   Uluguru forest tree frog
449       Velemlok čínský  Chineese giant salamander
505     Ropucha síťkovaná
506    Rosnička bělopruhá
507          Rosnice siná
508   Rosnice šalamounská
509        Létavka obecná